<!DOCTYPE html>
<html>
<head>
  <title>Undercurrents</title>
	<link type="text/css" href="/stylesheets/ui-darkness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />	
  	<%= stylesheet_link_tag :all %>
	<script src="/javascripts/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery-ui-1.8.11.custom.min.js" type="text/javascript"></script>
	

  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<div id="header">
			<a href="/"><img src="/images/logo.png"></a>
			 <div id="login-box">
				<% if logged_in? %>
					logged in as  <a href="http://<%= configatron.base_url %>/users/show"><%= current_user.login %></a> -  <a href="http://<%= configatron.base_url %>/logout">log out</a><br />
				<% else %>
					not logged in <a href="/login">login</a>
				<% end %>
			</div>
		</div>
		<div id="content"> 
			<%= yield %>
		</div>
	</div>
</body>
</html>
